/* from insta */
$theme-dark: rgb(70, 27, 183);
$theme-light: rgb(229, 173, 244);
$theme-light-60: rgb(229 * 0.6, 173 * 0.6, 244 * 0.6);
$theme-contrast: rgb(248, 91, 46);

$theme-border-size: 2px;
$theme-text-padding-size: 0.25rem;
