$fa-font-path: "./fontawesome/webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";
@import "./fontawesome/solid.scss";

@import "./_theme.scss";

@import "./_navbar.scss";

/* webkit likes to style links */
a {
  color: unset;
}

body {
  margin: 0;

  font-family: sans-serif;
  color: $theme-contrast;

  background-color: $theme-light;
}

main {
  margin: auto 1rem;
}

main>h2 {
  margin-top: 1.5rem;
}

main {

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    background-color: $theme-dark;
    padding: $theme-text-padding-size;
    margin-bottom: 0.5em;
  }
}

#continue-reading {
  padding: unset;
}