@import "theme";

.links {
  margin-top: 16px;

  display: flex;
  flex-flow: row;

  font-size: x-large;

  >a {
    padding: 0.5em;
    flex-grow: 1;
    text-align: center;

    border-left: solid $theme-border-size;

    background: $theme-dark;

    /* webkit likes to style links */
    text-decoration: unset;
  }

  >a:first-child {
    border-left: none;
  }
}

main {
  p:has(> img) {
    display: flex;
    justify-content: center;

    background-color: unset;
    padding: 0;

    >img {
      width: min(100% - 1rem, 500px);
      border: calc($theme-text-padding-size) solid $theme-dark;
    }
  }
}