<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <title>PolyQuity</title>
    <link href="{{ get_url(path='main.css') }}" rel="stylesheet" />
    <script src="{{ get_url(path='main.js') }}" defer></script>

    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
      <nav>
        <h1>
          <a href="{{ get_url(path='.', lang=lang) }}">
            <!-- TODO logo -->
            PolyQuity
          </a>
        </h1>
        <button id="navbar-toggle"
                type="button"
                class="fa-solid fa-bars"
                aria-label="toggle navigation menu"
                aria-expanded="false">
          <div id="navbar-menu">
            {% for section_name in ["events", "blog"] %}
              {% set section = get_section(path=section_name ~ '/_index.md', lang=lang) %}
              <a href="{{ section.path }}">{{ section.title }}</a>
            {% endfor %}
            {% for page_name in ["support", "paye-ton-epfl"] %}
              {% set page = get_page(path=page_name ~ ".md", lang=lang) %}
              <a href="{{ page.path }}">{{ page.title }}</a>
            {% endfor %}
            <span id="navbar-icons">
              <a class="fa-regular fa-envelope" href="mailto:polyquity@gmail.ch"></a>
              <a class="fa-brands fa-youtube"
                 href="https://www.youtube.com/@polyquityepfl154"></a>
              <a class="fa-brands fa-instagram"
                 href="https://www.instagram.com/polyquity"></a>
              <a class="fa-brands fa-square-facebook"
                 href="https://www.facebook.com/polyquity/"></a>
              <a class="fa-brands fa-linkedin"
                 href="https://ch.linkedin.com/company/polyquity"></a>
            </span>
          </div>
        </button>
      </nav>
    </header>
    <main>

      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
