{% extends "base.html" %}

{% block head %}
  <link href="{{ get_url(path='event.css') }}" rel="stylesheet" />
{% endblock head %}

{% block content %}
  <h2>{{ page.title }}</h2>
  <p id="event-info">
    <span>
      <time datetime="{{ page.date }}"> {{ page.date | date(format="%x", locale="fr_CH") | replace(from=" ", to="") }} </time>
      {% if page.extra is containing("start") %}
        {% set start_time = page.extra | get(key="start") %}
        {% set start_date = page.date ~ "T" ~ start_time %}
        <time datetime="{{ start_time }}"> {{ start_date | date(format="%R", locale="fr_CH") }} </time>
      {% endif %}
      {% if page.extra is containing("end") %}
        {% set end_time = page.extra | get(key="end") %}
        {% set end_date = page.date ~ "T" ~ end_time %}
        –
        <time datetime="{{ end_time }}"> {{ end_date | date(format="%R", locale="fr_CH") }} </time>
      {% endif %}
    </span>
    {% if page.extra is containing("location") %}<span>{{ page.extra | get(key="location") }}</span>{% endif %}
  </p>
  {{ page.content | safe }}
{% endblock content %}
