{% extends "base.html" %}

{% block head %}
  <link href="{{ get_url(path='event.css') }}" rel="stylesheet" />
{% endblock head %}

{% block content %}
  <h2>{{ page.title }}</h2>
  <p id="event-info">
    {% set start = page.extra | get(key="start") %}
    {% set start_time = start | date(format="%T",locale="fr_CH") %}
    {% set format = "%x" %}
    {% if start_time != "00:00:00" %}
      {% set format = format ~ " %R" %}
    {% endif %}
    <time datetime="{{ start }}"> {{ start | date(format=format,locale="fr_CH") }} </time>
    {% if page.extra is containing("end") %}
      {% set end = page.extra | get(key="end") %}
      –
      <time datetime="{{ end }}"> {{ end | date(format=format,locale="fr_CH") }} </time>
    {% endif %}
    <span>{{ page.extra | get(key="location") }}</span>
  </p>
  {{ page.content | safe }}
{% endblock content %}
