{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block head %}
  <link href="{{ get_url(path='events.css') }}" rel="stylesheet" />
{% endblock head %}

{% block content %}
  <h2>{{ section.title | capitalize }}</h2>
  <div class="events">
    {% for event in section.pages | reverse %}
      {% set start = event.date | date(format="%s") | int %}
      {% if start + (24*60*60) < now(timestamp=true) %}
        {% continue %}
      {% endif %}
      {{ macros::event_card(event=event) }}
    {% endfor %}
  </div>
  <h3>Passé</h3>
  <div class="events">
    {% for event in section.pages %}
      {% set start = event.date | date(format="%s") | int %}
      {% if start + (24*60*60) > now(timestamp=true) %}
        {% continue %}
      {% endif %}
      {{ macros::event_card(event=event) }}
    {% endfor %}
  </div>
{% endblock content %}
