{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
  {{ section.content | safe }}
  {% set events = get_section(path="events/_index.md", lang=lang) %}
  <h2>
    <a href="{{ events.permalink }}">{{ events.title }}</a>
  </h2>
    {% for event in events.pages | reverse %}
      {% set start = event.date | date(format="%s") | int %}
      {% if start < now(timestamp=true) %}
        {% continue %}
      {% endif %}
      {{ macros::event_card(event=event) }}
    {% endfor %}
  {% set blog = get_section(path="blog/_index.md", lang=lang) %}
  <h2>
    <a href="{{ blog.permalink }}">{{ blog.title }}</a>
  </h2>
  {% for page_name in ["support", "paye-ton-epfl"] %}
    {% set page = get_page(path=page_name ~ ".md", lang=lang) %}
    <h2>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h2>
    {{ page.summary | safe }}
  {% endfor %}
{% endblock content %}
