{% macro event_card(event) %}
  <a class="event-card" href="{{ event.permalink | safe }}">
    {% if event.extra is containing("image") %}
      {% set filename = event.extra | get(key="image") %}
      {% set path = event.path ~ filename %}
      {# ensure image exists #} {% set _ = get_image_metadata(path=path) %}
      {% set image = get_url(path=path) %}
    {% endif %}
    <article {% if image %}style="background-image: url({{ image }})"{% endif %}>
      <h3>
        {{ event.title }}
        <span>
          <time datetime="{{ event.date | date(format="%F") }}">
            {{ event.date | date(format="%x", locale="fr_CH") | replace(from=" ", to="") }}
          </time>
          {% if event.extra is containing("end") %}
            {% set end = event.extra | get(key="end") %}
            {% if end is containing("-") %}
              –
              <time datetime="{{ end }}">
                {{ end | date(format="%x", locale="fr_CH") | replace(from=" ", to="") }}
              </time>
            {% endif %}
          {% endif %}
        </span>
      </h3>
      {{ event.summary | safe }}
    </article>
  </a>
{% endmacro event %}
